export SAVE_LINKS=true
export SAVE_LINKS_PATH=pdfLinks
export TEST_USER_EMAIL=barbossa.approve@flexshopper.com
export TEST_USER_PASSWORD=test123
export SEARCH_TERM="milanese loop"
export TEST_ENV=prod
export ROOT_DOMAIN=http://flexshopper.com   
